In [3]:
# !pip install openpyxl
# !pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/ce/cd/a7c2cbffe2afff975349e60b14b63a448162145a7acac8ba12ddc2ed78a8/pandas-2.1.1-cp310-cp310-win_amd64.whl.metadata
  Using cached pandas-2.1.1-cp310-cp310-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\users\mozza\miniconda3\envs\(blurimage)\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mozza\miniconda3\envs\(blurimage)\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in c:\users\mozza\miniconda3\envs\(blurimage)\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.1.1-cp310-cp310-win_amd64.whl (10.7 MB)
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

In [4]:
import pandas as pd

In [5]:
df = pd.read_excel(r"D:\NMB-Traning_Python\src\data\intro_pandas\employee.xlsx")

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df

   emp_no            emp_name  birthday year country
0   A0001     Thaksin Wattana           1992      US
1   A0002        Kulap Bunnag           1859     THA
2   A0003       Anong Wattana           2000      JP
3   A0004        Kulap Bunnag           1859      US
4   A0005      Pakpao Wattana           1958      US
5   A0006      Pranee Wattana           1954     THA
6   A0007       Kanya Wattana           1925     THA
7   A0008      Suriya Wattana           2003     THA
8   A0009      Kamon Metharom           1999     THA
9   A0010     Amporn Metharom           1996      US
10  A0011         Arun Bunnag           2006      US
11  A0012        Arun Wattana           1978      US
12  A0013       Pranee Bunnag           1985      JP
13  A0014        Kanya Bunnag           1998      JP
14  A0015       Intira Bunnag           2001      JP
15  A0016    Somboon Metharom           2000     THA
16  A0017       Kamon Wattana           1992      JP
17  A0018  Sasithorn Metharom           1993     NaN
18  A0019      Intira Wattana           1985      JP
19  A0020      Kanda Metharom           1994     THA
20  A0021     Suriya Metharom           2005     THA
21  A0022      Arthit Wattana           1958      JP
22  A0023    Siriporn Wattana           1978      US
23  A0024        Malai Bunnag           1988      JP
24  A0025       Pranee Bunnag           1978      JP
25  A0026     Wattana Wattana           1977     THA
26  A0027    Prasert Metharom           1991      US
27  A0028    Thaksin Metharom           1993      JP
28  A0029      Somporn Bunnag           1996     THA

In [9]:
df_2 = pd.read_excel(r"D:\NMB-Traning_Python\src\data\intro_pandas\employee_2.xlsx")

In [10]:
df_2

   emp_no                  emp_name  birthday year country
0   A0001           Thaksin Wattana           1992      US
1   A0002              Kulap Bunnag           1859     THA
2   A0003             Anong Wattana           2000      JP
3   A0004              Kulap Bunnag           1859      US
4   A0005  Piyaporn Watcharajirakul           1958      US
5   A0006          Tanisorn Pitiwat           1954     THA
6   A0007          Chanisa Treewuth           1925     THA
7   A0008           Kijaporn Paorod           2003     THA
8   A0009     Kittitat Wattanakosol           1999     THA
9   A0010              Nat Sirianan           1996      US
10  A0011        Pongpat Satitayuth           2006      US
11  A0012         Phuritat Nirakorn           1978      US
12  A0013           Opaspong Komkai           1985      JP
13  A0014  Pichayaporn Rattanasetha           1998      JP
14  A0015   Pichayapa Wongwarittara           2001      JP
15  A0016               Pim Phungam           2000     THA
16  A0017          Kansita Boonkaow           1992      JP
17  A0018       Rattapak Weerakitti           1993     NaN
18  A0019    Chatchon Intaraprasith           1985      JP
19  A0020       Ptchaya Lertwittaya           1994     THA
20  A0021          Surawat Maithong           2005     THA
21  A0022             Korn Pongtana           1958      JP
22  A0023         Supitcha Tarawong           1978      US
23  A0024        Thanawit Mahametee           1988      JP
24  A0025      Panisara Tasanaroeng           1978      JP
25  A0026          Pakpoom Siritada           1977     THA
26  A0027              Fonkaew Sali           1991      US
27  A0028         Bawonnan Treewuth           1993      JP
28  A0029         Boriwan Pongpiroj           1996     THA

## Concat

In [11]:
df_total = pd.concat([df,df_2])
df_total

   emp_no                  emp_name  birthday year country
0   A0001           Thaksin Wattana           1992      US
1   A0002              Kulap Bunnag           1859     THA
2   A0003             Anong Wattana           2000      JP
3   A0004              Kulap Bunnag           1859      US
4   A0005            Pakpao Wattana           1958      US
5   A0006            Pranee Wattana           1954     THA
6   A0007             Kanya Wattana           1925     THA
7   A0008            Suriya Wattana           2003     THA
8   A0009            Kamon Metharom           1999     THA
9   A0010           Amporn Metharom           1996      US
10  A0011               Arun Bunnag           2006      US
11  A0012              Arun Wattana           1978      US
12  A0013             Pranee Bunnag           1985      JP
13  A0014              Kanya Bunnag           1998      JP
14  A0015             Intira Bunnag           2001      JP
15  A0016          Somboon Metharom           2000     THA
16  A0017             Kamon Wattana           1992      JP
17  A0018        Sasithorn Metharom           1993     NaN
18  A0019            Intira Wattana           1985      JP
19  A0020            Kanda Metharom           1994     THA
20  A0021           Suriya Metharom           2005     THA
21  A0022            Arthit Wattana           1958      JP
22  A0023          Siriporn Wattana           1978      US
23  A0024              Malai Bunnag           1988      JP
24  A0025             Pranee Bunnag           1978      JP
25  A0026           Wattana Wattana           1977     THA
26  A0027          Prasert Metharom           1991      US
27  A0028          Thaksin Metharom           1993      JP
28  A0029            Somporn Bunnag           1996     THA
0   A0001           Thaksin Wattana           1992      US
1   A0002              Kulap Bunnag           1859     THA
2   A0003             Anong Wattana           2000      JP
3   A0004              Kulap Bunnag           1859      US
4   A0005  Piyaporn Watcharajirakul           1958      US
5   A0006          Tanisorn Pitiwat           1954     THA
6   A0007          Chanisa Treewuth           1925     THA
7   A0008           Kijaporn Paorod           2003     THA
8   A0009     Kittitat Wattanakosol           1999     THA
9   A0010              Nat Sirianan           1996      US
10  A0011        Pongpat Satitayuth           2006      US
11  A0012         Phuritat Nirakorn           1978      US
12  A0013           Opaspong Komkai           1985      JP
13  A0014  Pichayaporn Rattanasetha           1998      JP
14  A0015   Pichayapa Wongwarittara           2001      JP
15  A0016               Pim Phungam           2000     THA
16  A0017          Kansita Boonkaow           1992      JP
17  A0018       Rattapak Weerakitti           1993     NaN
18  A0019    Chatchon Intaraprasith           1985      JP
19  A0020       Ptchaya Lertwittaya           1994     THA
20  A0021          Surawat Maithong           2005     THA
21  A0022             Korn Pongtana           1958      JP
22  A0023         Supitcha Tarawong           1978      US
23  A0024        Thanawit Mahametee           1988      JP
24  A0025      Panisara Tasanaroeng           1978      JP
25  A0026          Pakpoom Siritada           1977     THA
26  A0027              Fonkaew Sali           1991      US
27  A0028         Bawonnan Treewuth           1993      JP
28  A0029         Boriwan Pongpiroj           1996     THA

### Reset Index

In [12]:
df_reset_index = df_total.reset_index(drop=True)
df_reset_index

   emp_no                  emp_name  birthday year country
0   A0001           Thaksin Wattana           1992      US
1   A0002              Kulap Bunnag           1859     THA
2   A0003             Anong Wattana           2000      JP
3   A0004              Kulap Bunnag           1859      US
4   A0005            Pakpao Wattana           1958      US
5   A0006            Pranee Wattana           1954     THA
6   A0007             Kanya Wattana           1925     THA
7   A0008            Suriya Wattana           2003     THA
8   A0009            Kamon Metharom           1999     THA
9   A0010           Amporn Metharom           1996      US
10  A0011               Arun Bunnag           2006      US
11  A0012              Arun Wattana           1978      US
12  A0013             Pranee Bunnag           1985      JP
13  A0014              Kanya Bunnag           1998      JP
14  A0015             Intira Bunnag           2001      JP
15  A0016          Somboon Metharom           2000     THA
16  A0017             Kamon Wattana           1992      JP
17  A0018        Sasithorn Metharom           1993     NaN
18  A0019            Intira Wattana           1985      JP
19  A0020            Kanda Metharom           1994     THA
20  A0021           Suriya Metharom           2005     THA
21  A0022            Arthit Wattana           1958      JP
22  A0023          Siriporn Wattana           1978      US
23  A0024              Malai Bunnag           1988      JP
24  A0025             Pranee Bunnag           1978      JP
25  A0026           Wattana Wattana           1977     THA
26  A0027          Prasert Metharom           1991      US
27  A0028          Thaksin Metharom           1993      JP
28  A0029            Somporn Bunnag           1996     THA
29  A0001           Thaksin Wattana           1992      US
30  A0002              Kulap Bunnag           1859     THA
31  A0003             Anong Wattana           2000      JP
32  A0004              Kulap Bunnag           1859      US
33  A0005  Piyaporn Watcharajirakul           1958      US
34  A0006          Tanisorn Pitiwat           1954     THA
35  A0007          Chanisa Treewuth           1925     THA
36  A0008           Kijaporn Paorod           2003     THA
37  A0009     Kittitat Wattanakosol           1999     THA
38  A0010              Nat Sirianan           1996      US
39  A0011        Pongpat Satitayuth           2006      US
40  A0012         Phuritat Nirakorn           1978      US
41  A0013           Opaspong Komkai           1985      JP
42  A0014  Pichayaporn Rattanasetha           1998      JP
43  A0015   Pichayapa Wongwarittara           2001      JP
44  A0016               Pim Phungam           2000     THA
45  A0017          Kansita Boonkaow           1992      JP
46  A0018       Rattapak Weerakitti           1993     NaN
47  A0019    Chatchon Intaraprasith           1985      JP
48  A0020       Ptchaya Lertwittaya           1994     THA
49  A0021          Surawat Maithong           2005     THA
50  A0022             Korn Pongtana           1958      JP
51  A0023         Supitcha Tarawong           1978      US
52  A0024        Thanawit Mahametee           1988      JP
53  A0025      Panisara Tasanaroeng           1978      JP
54  A0026          Pakpoom Siritada           1977     THA
55  A0027              Fonkaew Sali           1991      US
56  A0028         Bawonnan Treewuth           1993      JP
57  A0029         Boriwan Pongpiroj           1996     THA

### Drop duplicate

In [13]:
boolean = df_reset_index['emp_name'].duplicated().any()
print(boolean)
print(len(df_reset_index))

df_dup = df_reset_index.drop_duplicates(['emp_name'])
print(len(df_dup))

boolean = df_dup['emp_name'].duplicated().any()
print(boolean)
df_dup

True
58
52
False

   emp_no                  emp_name  birthday year country
0   A0001           Thaksin Wattana           1992      US
1   A0002              Kulap Bunnag           1859     THA
2   A0003             Anong Wattana           2000      JP
4   A0005            Pakpao Wattana           1958      US
5   A0006            Pranee Wattana           1954     THA
6   A0007             Kanya Wattana           1925     THA
7   A0008            Suriya Wattana           2003     THA
8   A0009            Kamon Metharom           1999     THA
9   A0010           Amporn Metharom           1996      US
10  A0011               Arun Bunnag           2006      US
11  A0012              Arun Wattana           1978      US
12  A0013             Pranee Bunnag           1985      JP
13  A0014              Kanya Bunnag           1998      JP
14  A0015             Intira Bunnag           2001      JP
15  A0016          Somboon Metharom           2000     THA
16  A0017             Kamon Wattana           1992      JP
17  A0018        Sasithorn Metharom           1993     NaN
18  A0019            Intira Wattana           1985      JP
19  A0020            Kanda Metharom           1994     THA
20  A0021           Suriya Metharom           2005     THA
21  A0022            Arthit Wattana           1958      JP
22  A0023          Siriporn Wattana           1978      US
23  A0024              Malai Bunnag           1988      JP
25  A0026           Wattana Wattana           1977     THA
26  A0027          Prasert Metharom           1991      US
27  A0028          Thaksin Metharom           1993      JP
28  A0029            Somporn Bunnag           1996     THA
33  A0005  Piyaporn Watcharajirakul           1958      US
34  A0006          Tanisorn Pitiwat           1954     THA
35  A0007          Chanisa Treewuth           1925     THA
36  A0008           Kijaporn Paorod           2003     THA
37  A0009     Kittitat Wattanakosol           1999     THA
38  A0010              Nat Sirianan           1996      US
39  A0011        Pongpat Satitayuth           2006      US
40  A0012         Phuritat Nirakorn           1978      US
41  A0013           Opaspong Komkai           1985      JP
42  A0014  Pichayaporn Rattanasetha           1998      JP
43  A0015   Pichayapa Wongwarittara           2001      JP
44  A0016               Pim Phungam           2000     THA
45  A0017          Kansita Boonkaow           1992      JP
46  A0018       Rattapak Weerakitti           1993     NaN
47  A0019    Chatchon Intaraprasith           1985      JP
48  A0020       Ptchaya Lertwittaya           1994     THA
49  A0021          Surawat Maithong           2005     THA
50  A0022             Korn Pongtana           1958      JP
51  A0023         Supitcha Tarawong           1978      US
52  A0024        Thanawit Mahametee           1988      JP
53  A0025      Panisara Tasanaroeng           1978      JP
54  A0026          Pakpoom Siritada           1977     THA
55  A0027              Fonkaew Sali           1991      US
56  A0028         Bawonnan Treewuth           1993      JP
57  A0029         Boriwan Pongpiroj           1996     THA

### Drop Null

In [14]:
print(df_dup.isnull().values.any())
print(len(df_dup))

df_null = df_dup.dropna()
print(len(df_null))

df_null

True
52
50

   emp_no                  emp_name  birthday year country
0   A0001           Thaksin Wattana           1992      US
1   A0002              Kulap Bunnag           1859     THA
2   A0003             Anong Wattana           2000      JP
4   A0005            Pakpao Wattana           1958      US
5   A0006            Pranee Wattana           1954     THA
6   A0007             Kanya Wattana           1925     THA
7   A0008            Suriya Wattana           2003     THA
8   A0009            Kamon Metharom           1999     THA
9   A0010           Amporn Metharom           1996      US
10  A0011               Arun Bunnag           2006      US
11  A0012              Arun Wattana           1978      US
12  A0013             Pranee Bunnag           1985      JP
13  A0014              Kanya Bunnag           1998      JP
14  A0015             Intira Bunnag           2001      JP
15  A0016          Somboon Metharom           2000     THA
16  A0017             Kamon Wattana           1992      JP
18  A0019            Intira Wattana           1985      JP
19  A0020            Kanda Metharom           1994     THA
20  A0021           Suriya Metharom           2005     THA
21  A0022            Arthit Wattana           1958      JP
22  A0023          Siriporn Wattana           1978      US
23  A0024              Malai Bunnag           1988      JP
25  A0026           Wattana Wattana           1977     THA
26  A0027          Prasert Metharom           1991      US
27  A0028          Thaksin Metharom           1993      JP
28  A0029            Somporn Bunnag           1996     THA
33  A0005  Piyaporn Watcharajirakul           1958      US
34  A0006          Tanisorn Pitiwat           1954     THA
35  A0007          Chanisa Treewuth           1925     THA
36  A0008           Kijaporn Paorod           2003     THA
37  A0009     Kittitat Wattanakosol           1999     THA
38  A0010              Nat Sirianan           1996      US
39  A0011        Pongpat Satitayuth           2006      US
40  A0012         Phuritat Nirakorn           1978      US
41  A0013           Opaspong Komkai           1985      JP
42  A0014  Pichayaporn Rattanasetha           1998      JP
43  A0015   Pichayapa Wongwarittara           2001      JP
44  A0016               Pim Phungam           2000     THA
45  A0017          Kansita Boonkaow           1992      JP
47  A0019    Chatchon Intaraprasith           1985      JP
48  A0020       Ptchaya Lertwittaya           1994     THA
49  A0021          Surawat Maithong           2005     THA
50  A0022             Korn Pongtana           1958      JP
51  A0023         Supitcha Tarawong           1978      US
52  A0024        Thanawit Mahametee           1988      JP
53  A0025      Panisara Tasanaroeng           1978      JP
54  A0026          Pakpoom Siritada           1977     THA
55  A0027              Fonkaew Sali           1991      US
56  A0028         Bawonnan Treewuth           1993      JP
57  A0029         Boriwan Pongpiroj           1996     THA

#### Calculate df

In [15]:
import datetime

year = datetime.date.today().year
print(year)

df_age = df_null.assign(age=year-df_null["birthday year"])
df_age

2023

   emp_no                  emp_name  birthday year country  age
0   A0001           Thaksin Wattana           1992      US   31
1   A0002              Kulap Bunnag           1859     THA  164
2   A0003             Anong Wattana           2000      JP   23
4   A0005            Pakpao Wattana           1958      US   65
5   A0006            Pranee Wattana           1954     THA   69
6   A0007             Kanya Wattana           1925     THA   98
7   A0008            Suriya Wattana           2003     THA   20
8   A0009            Kamon Metharom           1999     THA   24
9   A0010           Amporn Metharom           1996      US   27
10  A0011               Arun Bunnag           2006      US   17
11  A0012              Arun Wattana           1978      US   45
12  A0013             Pranee Bunnag           1985      JP   38
13  A0014              Kanya Bunnag           1998      JP   25
14  A0015             Intira Bunnag           2001      JP   22
15  A0016          Somboon Metharom           2000     THA   23
16  A0017             Kamon Wattana           1992      JP   31
18  A0019            Intira Wattana           1985      JP   38
19  A0020            Kanda Metharom           1994     THA   29
20  A0021           Suriya Metharom           2005     THA   18
21  A0022            Arthit Wattana           1958      JP   65
22  A0023          Siriporn Wattana           1978      US   45
23  A0024              Malai Bunnag           1988      JP   35
25  A0026           Wattana Wattana           1977     THA   46
26  A0027          Prasert Metharom           1991      US   32
27  A0028          Thaksin Metharom           1993      JP   30
28  A0029            Somporn Bunnag           1996     THA   27
33  A0005  Piyaporn Watcharajirakul           1958      US   65
34  A0006          Tanisorn Pitiwat           1954     THA   69
35  A0007          Chanisa Treewuth           1925     THA   98
36  A0008           Kijaporn Paorod           2003     THA   20
37  A0009     Kittitat Wattanakosol           1999     THA   24
38  A0010              Nat Sirianan           1996      US   27
39  A0011        Pongpat Satitayuth           2006      US   17
40  A0012         Phuritat Nirakorn           1978      US   45
41  A0013           Opaspong Komkai           1985      JP   38
42  A0014  Pichayaporn Rattanasetha           1998      JP   25
43  A0015   Pichayapa Wongwarittara           2001      JP   22
44  A0016               Pim Phungam           2000     THA   23
45  A0017          Kansita Boonkaow           1992      JP   31
47  A0019    Chatchon Intaraprasith           1985      JP   38
48  A0020       Ptchaya Lertwittaya           1994     THA   29
49  A0021          Surawat Maithong           2005     THA   18
50  A0022             Korn Pongtana           1958      JP   65
51  A0023         Supitcha Tarawong           1978      US   45
52  A0024        Thanawit Mahametee           1988      JP   35
53  A0025      Panisara Tasanaroeng           1978      JP   45
54  A0026          Pakpoom Siritada           1977     THA   46
55  A0027              Fonkaew Sali           1991      US   32
56  A0028         Bawonnan Treewuth           1993      JP   30
57  A0029         Boriwan Pongpiroj           1996     THA   27

In [16]:
df_age[["name","sername"]] = df_age["emp_name"].str.split(expand=True)
df_age

,emp_no,emp_name,birthday year,country,age,name,sername
0,A0001,Thaksin Wattana,1992,US,31,Thaksin,Wattana
1,A0002,Kulap Bunnag,1859,THA,164,Kulap,Bunnag
2,A0003,Anong Wattana,2000,JP,23,Anong,Wattana
4,A0005,Pakpao Wattana,1958,US,65,Pakpao,Wattana
5,A0006,Pranee Wattana,1954,THA,69,Pranee,Wattana
6,A0007,Kanya Wattana,1925,THA,98,Kanya,Wattana
7,A0008,Suriya Wattana,2003,THA,20,Suriya,Wattana
8,A0009,Kamon Metharom,1999,THA,24,Kamon,Metharom
9,A0010,Amporn Metharom,1996,US,27,Amporn,Metharom
10,A0011,Arun Bunnag,2006,US,17,Arun,Bunnag
11,A0012,Arun Wattana,1978,US,45,Arun,Wattana
12,A0013,Pranee Bunnag,1985,JP,38,Pranee,Bunnag
13,A0014,Kanya Bunnag,1998,JP,25,Kanya,Bunnag
14,A0015,Intira Bunnag,2001,JP,22,Intira,Bunnag
15,A0016,Somboon Metharom,2000,THA,23,Somboon,Metharom
16,A0017,Kamon Wattana,1992,JP,31,Kamon,Wattana
18,A0019,Intira Wattana,1985,JP,38,Intira,Wattana
19,A0020,Kanda Metharom,1994,THA,29,Kanda,Metharom
20,A0021,Suriya Metharom,2005,THA,18,Suriya,Metharom
21,A0022,Arthit Wattana,1958,JP,65,Arthit,Wattana
22,A0023,Siriporn Wattana,1978,US,45,Siriporn,Wattana
23,A0024,Malai Bunnag,1988,JP,35,Malai,Bunnag
25,A0026,Wattana Wattana,1977,THA,46,Wattana,Wattana
26,A0027,Prasert Metharom,1991,US,32,Prasert,Metharom
27,A0028,Thaksin Metharom,1993,JP,30,Thaksin,Metharom
28,A0029,Somporn Bunnag,1996,THA,27,Somporn,Bunnag
33,A0005,Piyaporn Watcharajirakul,1958,US,65,Piyaporn,Watcharajirakul
34,A0006,Tanisorn Pitiwat,1954,THA,69,Tanisorn,Pitiwat
35,A0007,Chanisa Treewuth,1925,THA,98,Chanisa,Treewuth
36,A0008,Kijaporn Paorod,2003,THA,20,Kijaporn,Paorod
37,A0009,Kittitat Wattanakosol,1999,THA,24,Kittitat,Wattanakosol
38,A0010,Nat Sirianan,1996,US,27,Nat,Sirianan
39,A0011,Pongpat Satitayuth,2006,US,17,Pongpat,Satitayuth
40,A0012,Phuritat Nirakorn,1978,US,45,Phuritat,Nirakorn
41,A0013,Opaspong Komkai,1985,JP,38,Opaspong,Komkai
42,A0014,Pichayaporn Rattanasetha,1998,JP,25,Pichayaporn,Rattanasetha
43,A0015,Pichayapa Wongwarittara,2001,JP,22,Pichayapa,Wongwarittara
44,A0016,Pim Phungam,2000,THA,23,Pim,Phungam
45,A0017,Kansita Boonkaow,1992,JP,31,Kansita,Boonkaow
47,A0019,Chatchon Intaraprasith,1985,JP,38,Chatchon,Intaraprasith
48,A0020,Ptchaya Lertwittaya,1994,THA,29,Ptchaya,Lertwittaya
49,A0021,Surawat Maithong,2005,THA,18,Surawat,Maithong
50,A0022,Korn Pongtana,1958,JP,65,Korn,Pongtana
51,A0023,Supitcha Tarawong,1978,US,45,Supitcha,Tarawong
52,A0024,Thanawit Mahametee,1988,JP,35,Thanawit,Mahametee
53,A0025,Panisara Tasanaroeng,1978,JP,45,Panisara,Tasanaroeng
54,A0026,Pakpoom Siritada,1977,THA,46,Pakpoom,Siritada
55,A0027,Fonkaew Sali,1991,US,32,Fonkaew,Sali
56,A0028,Bawonnan Treewuth,1993,JP,30,Bawonnan,Treewuth
57,A0029,Boriwan Pongpiroj,1996,THA,27,Boriwan,Pongpiroj

### Custom Col

In [17]:
df_col = df_age[["name","sername","age","country"]]
df_col

           name          sername  age country
0       Thaksin          Wattana   31      US
1         Kulap           Bunnag  164     THA
2         Anong          Wattana   23      JP
4        Pakpao          Wattana   65      US
5        Pranee          Wattana   69     THA
6         Kanya          Wattana   98     THA
7        Suriya          Wattana   20     THA
8         Kamon         Metharom   24     THA
9        Amporn         Metharom   27      US
10         Arun           Bunnag   17      US
11         Arun          Wattana   45      US
12       Pranee           Bunnag   38      JP
13        Kanya           Bunnag   25      JP
14       Intira           Bunnag   22      JP
15      Somboon         Metharom   23     THA
16        Kamon          Wattana   31      JP
18       Intira          Wattana   38      JP
19        Kanda         Metharom   29     THA
20       Suriya         Metharom   18     THA
21       Arthit          Wattana   65      JP
22     Siriporn          Wattana   45      US
23        Malai           Bunnag   35      JP
25      Wattana          Wattana   46     THA
26      Prasert         Metharom   32      US
27      Thaksin         Metharom   30      JP
28      Somporn           Bunnag   27     THA
33     Piyaporn  Watcharajirakul   65      US
34     Tanisorn          Pitiwat   69     THA
35      Chanisa         Treewuth   98     THA
36     Kijaporn           Paorod   20     THA
37     Kittitat     Wattanakosol   24     THA
38          Nat         Sirianan   27      US
39      Pongpat       Satitayuth   17      US
40     Phuritat         Nirakorn   45      US
41     Opaspong           Komkai   38      JP
42  Pichayaporn     Rattanasetha   25      JP
43    Pichayapa    Wongwarittara   22      JP
44          Pim          Phungam   23     THA
45      Kansita         Boonkaow   31      JP
47     Chatchon    Intaraprasith   38      JP
48      Ptchaya      Lertwittaya   29     THA
49      Surawat         Maithong   18     THA
50         Korn         Pongtana   65      JP
51     Supitcha         Tarawong   45      US
52     Thanawit        Mahametee   35      JP
53     Panisara      Tasanaroeng   45      JP
54      Pakpoom         Siritada   46     THA
55      Fonkaew             Sali   32      US
56     Bawonnan         Treewuth   30      JP
57      Boriwan        Pongpiroj   27     THA

#### Edit columns name

In [18]:
df_edit_name = df_col.rename(columns={'name':"first_name",'sername':"last_name"})
df_edit_name

     first_name        last_name  age country
0       Thaksin          Wattana   31      US
1         Kulap           Bunnag  164     THA
2         Anong          Wattana   23      JP
4        Pakpao          Wattana   65      US
5        Pranee          Wattana   69     THA
6         Kanya          Wattana   98     THA
7        Suriya          Wattana   20     THA
8         Kamon         Metharom   24     THA
9        Amporn         Metharom   27      US
10         Arun           Bunnag   17      US
11         Arun          Wattana   45      US
12       Pranee           Bunnag   38      JP
13        Kanya           Bunnag   25      JP
14       Intira           Bunnag   22      JP
15      Somboon         Metharom   23     THA
16        Kamon          Wattana   31      JP
18       Intira          Wattana   38      JP
19        Kanda         Metharom   29     THA
20       Suriya         Metharom   18     THA
21       Arthit          Wattana   65      JP
22     Siriporn          Wattana   45      US
23        Malai           Bunnag   35      JP
25      Wattana          Wattana   46     THA
26      Prasert         Metharom   32      US
27      Thaksin         Metharom   30      JP
28      Somporn           Bunnag   27     THA
33     Piyaporn  Watcharajirakul   65      US
34     Tanisorn          Pitiwat   69     THA
35      Chanisa         Treewuth   98     THA
36     Kijaporn           Paorod   20     THA
37     Kittitat     Wattanakosol   24     THA
38          Nat         Sirianan   27      US
39      Pongpat       Satitayuth   17      US
40     Phuritat         Nirakorn   45      US
41     Opaspong           Komkai   38      JP
42  Pichayaporn     Rattanasetha   25      JP
43    Pichayapa    Wongwarittara   22      JP
44          Pim          Phungam   23     THA
45      Kansita         Boonkaow   31      JP
47     Chatchon    Intaraprasith   38      JP
48      Ptchaya      Lertwittaya   29     THA
49      Surawat         Maithong   18     THA
50         Korn         Pongtana   65      JP
51     Supitcha         Tarawong   45      US
52     Thanawit        Mahametee   35      JP
53     Panisara      Tasanaroeng   45      JP
54      Pakpoom         Siritada   46     THA
55      Fonkaew             Sali   32      US
56     Bawonnan         Treewuth   30      JP
57      Boriwan        Pongpiroj   27     THA

### Select Data

In [19]:
df_lookup = df_edit_name.copy()
df_lookup_1 = df_lookup[df_lookup["age"]>100]
df_lookup_1

df_lookup_2 = df_lookup[(df_lookup["age"]> 30) & (df_lookup["age"]<100)]
df_lookup_2

df_lookup_3 = df_lookup[(df_lookup["country"] == "US") | (df_lookup["country"]=="THA")]
df_lookup_3

   first_name        last_name  age country
0     Thaksin          Wattana   31      US
1       Kulap           Bunnag  164     THA
4      Pakpao          Wattana   65      US
5      Pranee          Wattana   69     THA
6       Kanya          Wattana   98     THA
7      Suriya          Wattana   20     THA
8       Kamon         Metharom   24     THA
9      Amporn         Metharom   27      US
10       Arun           Bunnag   17      US
11       Arun          Wattana   45      US
15    Somboon         Metharom   23     THA
19      Kanda         Metharom   29     THA
20     Suriya         Metharom   18     THA
22   Siriporn          Wattana   45      US
25    Wattana          Wattana   46     THA
26    Prasert         Metharom   32      US
28    Somporn           Bunnag   27     THA
33   Piyaporn  Watcharajirakul   65      US
34   Tanisorn          Pitiwat   69     THA
35    Chanisa         Treewuth   98     THA
36   Kijaporn           Paorod   20     THA
37   Kittitat     Wattanakosol   24     THA
38        Nat         Sirianan   27      US
39    Pongpat       Satitayuth   17      US
40   Phuritat         Nirakorn   45      US
44        Pim          Phungam   23     THA
48    Ptchaya      Lertwittaya   29     THA
49    Surawat         Maithong   18     THA
51   Supitcha         Tarawong   45      US
54    Pakpoom         Siritada   46     THA
55    Fonkaew             Sali   32      US
57    Boriwan        Pongpiroj   27     THA

#### Unique

In [20]:
df_unique = df_lookup["country"].unique()
df_unique = df_lookup["last_name"].unique()
df_unique

array(['Wattana', 'Bunnag', 'Metharom', 'Watcharajirakul', 'Pitiwat',
       'Treewuth', 'Paorod', 'Wattanakosol', 'Sirianan', 'Satitayuth',
       'Nirakorn', 'Komkai', 'Rattanasetha', 'Wongwarittara', 'Phungam',
       'Boonkaow', 'Intaraprasith', 'Lertwittaya', 'Maithong', 'Pongtana',
       'Tarawong', 'Mahametee', 'Tasanaroeng', 'Siritada', 'Sali',
       'Pongpiroj'], dtype=object)

### pivot

In [21]:
df_pivot = pd.pivot_table(df_lookup,index="last_name",columns="country",values="age",aggfunc="count")
df_pivot

country           JP  THA   US
last_name
Boonkaow         1.0  NaN  NaN
Bunnag           4.0  2.0  1.0
Intaraprasith    1.0  NaN  NaN
Komkai           1.0  NaN  NaN
Lertwittaya      NaN  1.0  NaN
Mahametee        1.0  NaN  NaN
Maithong         NaN  1.0  NaN
Metharom         1.0  4.0  2.0
Nirakorn         NaN  NaN  1.0
Paorod           NaN  1.0  NaN
Phungam          NaN  1.0  NaN
Pitiwat          NaN  1.0  NaN
Pongpiroj        NaN  1.0  NaN
Pongtana         1.0  NaN  NaN
Rattanasetha     1.0  NaN  NaN
Sali             NaN  NaN  1.0
Satitayuth       NaN  NaN  1.0
Sirianan         NaN  NaN  1.0
Siritada         NaN  1.0  NaN
Tarawong         NaN  NaN  1.0
Tasanaroeng      1.0  NaN  NaN
Treewuth         1.0  1.0  NaN
Watcharajirakul  NaN  NaN  1.0
Wattana          4.0  4.0  4.0
Wattanakosol     NaN  1.0  NaN
Wongwarittara    1.0  NaN  NaN

### Filna

In [22]:
df_fillna = df_pivot.fillna(0)
df_fillna

country           JP  THA   US
last_name
Boonkaow         1.0  0.0  0.0
Bunnag           4.0  2.0  1.0
Intaraprasith    1.0  0.0  0.0
Komkai           1.0  0.0  0.0
Lertwittaya      0.0  1.0  0.0
Mahametee        1.0  0.0  0.0
Maithong         0.0  1.0  0.0
Metharom         1.0  4.0  2.0
Nirakorn         0.0  0.0  1.0
Paorod           0.0  1.0  0.0
Phungam          0.0  1.0  0.0
Pitiwat          0.0  1.0  0.0
Pongpiroj        0.0  1.0  0.0
Pongtana         1.0  0.0  0.0
Rattanasetha     1.0  0.0  0.0
Sali             0.0  0.0  1.0
Satitayuth       0.0  0.0  1.0
Sirianan         0.0  0.0  1.0
Siritada         0.0  1.0  0.0
Tarawong         0.0  0.0  1.0
Tasanaroeng      1.0  0.0  0.0
Treewuth         1.0  1.0  0.0
Watcharajirakul  0.0  0.0  1.0
Wattana          4.0  4.0  4.0
Wattanakosol     0.0  1.0  0.0
Wongwarittara    1.0  0.0  0.0

#### Export

In [23]:
df_fillna.to_csv("export\pivot_surname.csv")

### Example

In [24]:
def csv_sort_country(df_split_contry):
    df_unique = df_split_contry["country"].unique()
    for i in df_unique:
        new_file = df_split_contry[df_split_contry["country"] == i].to_csv(f"export\df_sorted_{i}.csv")
    return new_file

In [26]:
print(df_lookup["country"].unique())

df_add_contry = df_lookup.copy()
df_add_contry.loc[58] = ["suraphop", "bunsawat",23, "SPA"]
print(df_add_contry["country"].unique())
# print(df_lookup)
# print(df_split_contry)

(csv_sort_country(df_add_contry))

['US' 'THA' 'JP']
['US' 'THA' 'JP' 'SPA']

In [27]:
# !pip install xlwings

Requirement already satisfied: xlwings in c:\users\mozza\miniconda3\envs\(blurimage)\lib\site-packages (0.30.12)
Requirement already satisfied: pywin32>=224 in c:\users\mozza\miniconda3\envs\(blurimage)\lib\site-packages (from xlwings) (306)

In [29]:
import xlwings as xw

def export_sorted_excel_one_file(df):
    app = xw.App(visible=False)
    template = xw.Book()
    sheet = template.sheets('Sheet1')
    country_list = df["country"].unique()
    
    for i in range(len(country_list)):
        template.sheets.add(country_list[i])
        sheet = template.sheets(country_list[i])
        df_result = df[df["country"] == country_list[i]]
        # sheet["A1"].value = df_result
        sheet.range("A1").options(pd.DataFrame, index = False).value = df_result #Delete index
        
    for sheet in template.sheets:
        if 'Sheet1' in sheet.name:
            sheet.delete()
            
    template.save(r"export\data_with_xlwings.xlsx")
    template.close()
    app.quit()
    
export_sorted_excel_one_file(df_lookup)